    <header style="background:url('images/banner.png') center center; background-size:cover;">
            <div class="banner-text text-center">
                <h3>Promotonal Film for</h3>
                <h1>The Making of <span>Cerium</span></h1>
            </div>
    </header>