<header style="background:url('images/banner.png') center center; background-size:cover;">
        <div class="banner-text text-center">
			{% block content %}
				{{ page.content }}
			{% endblock %}            
        </div>
</header>