   <section id="stats" style="background:url('images/stats.jpg') center center; background-size:cover;">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <i class="fa fa-facebook"></i>
                    <h1>20,000</h1>
                    <h3>Students Trained</h3>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-facebook"></i>
                    <h1>98%</h1>
                    <h3>Students Passed</h3>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-facebook"></i>
                    <h1>10,560</h1>
                    <h3>Desktop Learners</h3>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-facebook"></i>
                    <h1>8,360</h1>
                    <h3>Tablet Learners</h3>
                </div>
            </div>
        </div>
    </section>