   <section id="stats" style="background:url('images/stats.jpg') center center; background-size:cover;">
        <div class="container">
            <div class="row">
            {% for stats in page.header.stats %}
                <div class="col-md-3">
                    <i class="fa {{stats.icon}}"></i>
                    <h1>{{stats.count}}</h1>
                    <h3>{{stats.heading}}</h3>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>