  <section id="testimonials" class="wrapper-md bg-green">
        <div class="container">
            <div class="heading">
                <h1>our testimonials</h1>
                <span>We have already provided corporate training to the following partners</span>
                <div class="separator"></div>
            </div>
            <!--   <div class="sec-title">
                <h1 class="uc"><i class="lines l-l"></i>Client Testimonials<i class="lines l-r"></i></h1>
            </div> -->
            <div class="sec-body">
                <div class="owl-test owl-carousel">
                    <div data-author="Miranda Kerr" data-dp="1.jpg">
                        This is the single best software that enabled us to handle our exams and everything that comes after the exams have been conducted, very smoothly and without any kinds of glitches.
                        <br> The customer support that comes along with the purchase of the subscription is just amazing.
                    </div>
                    <div data-author="Jennifer Lawrence" data-dp="2.jpg">
                        This is the single best software that enabled us to handle our exams and everything that comes after the exams have been conducted, very smoothly and without any kinds of glitches.
                    </div>
                    <div data-author="Avril Lavigne" data-dp="3.jpg">
                        This is the single best software that enabled us to handle our exams and everything that comes after the exams have been conducted, very smoothly and without any kinds of glitches.
                        <br> The customer support that comes along with the purchase of the subscription is just amazing.
                    </div>
                    <div data-author="Neha Sharma" data-dp="4.jpg">
                        This is the single best software that enabled us to handle our exams and everything that comes after the exams have been conducted, very smoothly and without any kinds of glitches.
                    </div>
                </div>
            </div>
        </div>
    </section>